.item-list {
    border: 2px solid var(--ion-color-orange);
    border-radius: 15px;
}

.head-item {
    border: 2px solid var(--ion-color-medium);
    border-radius: 15px;
}

ion-item-option {
    border: 2px solid var(--ion-color-light);
    border-radius: 15px;
}