ion-searchbar {
    --background: var(--ion-color-light);
    border: 2px solid var(--ion-color-medium);
    --box-shadow: none;
    border-radius: 15px;
    --color: var(--ion-color-dark);
    font-size: larger;
    font-weight: bolder;
}

.item-list {
    border: 2px solid var(--ion-color-dark);
    border-radius: 15px;
}

.item-has-focus {
    // --highlight-color-focused: transparent;
    --border-width: 0 0 0 0; 
    --inner-border-width: 0; 
    --show-full-highlight: 0; 
    --show-inset-highlight: 0;
    border: 2px solid var(--ion-color-orange);
}
